body{
    max-width: 999px;
    background-color: hsl(0, 0%, 98%) ;
    justify-content: center;
    padding: 50px;
}

.allheader{
    display: flex;
    column-gap: 200px;
    justify-content: center;
    
    
  }


nav ul{
    display: flex;
    list-style: none;
    column-gap: 40px;
    color: gray;
    

}
.login{
    border: none;
}
.register{
    border-radius: 5px;
    border: solid gray 2px;
    height: 30px;
   margin-left:30px;
}
.secondheader{
    padding-top: 15px;
}
.side1{
    padding-left: 50px;
}
.side2{
    padding-top: 25px;
    margin-left: 70px;
}
p{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 18px;
    
    font-weight: 500;
    color: hsl(0, 0%, 41%);
}
h1{
    padding-top: 50px;
    font-weight: 700;
    font-size: 3em;
   font-family: "Epilogue", sans-serif;
}
.learn{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border-radius: 10px;
    margin-bottom: 50px;
    height: 30px;
}

.container{
    display: flex;
    max-width: 900px;
    margin-left: 50px;
    justify-content: center;
}
